@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.App {
  font-family: 'Kanit', sans-serif;
  text-align: center;
}
body{
  /* background: url(https://img.fortawesome.com/1ce05b4b/hero-icon-bg.svg); */
  color:black;
}
.homeTitle{
    text-shadow: 1px 1px 5px rgb(117, 105, 105);
    margin-top: 3%;
    font-size: 1rem;
  }
.subTitle{
    font-size: 3rem;
    color: rgb(9, 177, 238);
    text-shadow: 2px 2px 3px #000000;
}
label{
  font-weight: bold;
}
.main-div{
  border-style: ridge;
  margin-left: 12%;
  margin-right: 12%;
}
.material-symbols-outlined:hover{
  cursor: pointer;
}
.details{
  width:100%;
}